---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import {Image} from 'astro:assets'
import joelImage from '../assets/joel.jpeg'
import '../styles/button.css'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main class="main-container">
			<h1 class="main-title">Christ-Centered Spirituality</h1>
			<h3 class="main-sub-title">A Catechesis for Today</h3>
			<div class="statement">
				<p>Does the Way of Christ really change lives? The answer one finds in the halls of history is a resounding <strong>yes</strong>! We can be transformed—radically, experientially, wholeheartedly transformed! But it requires work—both our work and God’s work. By the grace of God, we can become more Christlike by following the ancient path of discipleship to Jesus.</p>

				<p>Christ-Centered Spirituality leads the reader through a comprehensive pattern of catechesis distilled from the early church, the Celtic monastic communities, the medieval monks, the reformers, the Society of Jesus, the Puritans, and many other traditions of the historic Christian church. Throughout history, the Spirit of the living God has used many of these practices and insights to catalyze revivals, awaken souls, incite revolutions, birth joy and bring hope to millions. This is your map to a meaningful existence. Let it spark renewal in your life today!</p>
				<div class="byline">
					<div class="author">
						<p>Joel Stephen Elies, D.Min (Talbot)</p>
					</div>
					<Image src={joelImage} alt="Joel Elies" />
				</div>
				<div class="cToA">
					<p><i>This site serves as an accompaniment to the book. You can purchase the book on the internet or you can start on the web app here.</i></p>
					<a class="btn" href="/toc">Table of Contents</a>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
<style>
	.main-container {
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: rgb(var(--darken-green));
		color: var(--white);
		margin: auto;
		padding-top: 3em;
		padding-bottom: 3em;
		padding-left: 3em;
		padding-right: 3em;
	}
	.main-title {
		font-size: 3em;
		font-family: Georgia, 'Times New Roman', Times, serif;
		color: var(--white);
		margin-bottom: 1em;
	}
	.main-sub-title {
		font-size: 2em;
		font-style: italic;
		font-family: Georgia, 'Times New Roman', Times, serif;
		color: var(--white);
	}
	.statement {
		margin-top: 1em;
		margin-bottom: 1em;
		max-width: 780px;
		margin-left: auto;
		margin-right: auto;
	}
	.byline {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: max-content;
		margin-left: auto;
		margin-right: auto;
	}
	.byline .author {
		font-weight: bold;
	}
	.cToA {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	@media (max-width: 575.98px) {
		.main-container {
			padding-top: 3em;
			padding-bottom: 3em;
			padding-left: 1em;
			padding-right: 1em;
		}
		.main-title {
			font-size: 2em;
		}
		.main-sub-title {
			font-size: 1.5em;
		}
	}
</style>
