---
const today = new Date();
---

<footer class="footer-container">
	<div class="footer-content">&copy; {today.getFullYear()} Christ-Centered Spirituality. All rights reserved.</div>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: rgb(var(--dark-green));
		color: var(--white);
		text-align: center;
		padding-bottom: 1em;
	}
	.footer-content {
		margin: 1em auto;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
